.photo img{
    height: 200px;
    width: 300px;
    transform: scale(1.20);
	transition:transform all 0.5s;
	border: 4px;
	border-color: white;

}
.Gallery p a
{
	
	margin-bottom: 14%;
	margin-top: 5%;
    font-size: 20px;
    color: yellowgreen;
}

